<!doctype html>

<html lang="en">
	<head>
		<script data-ad-client="ca-pub-4454735378805326" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173284252-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-173284252-1');
		</script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">

		<!-- Twitter cards -->
		<meta name="twitter:site"    content="@{{ author.twitter }}">
		<meta name="twitter:title"   content="{{ page.title }} | {{ site.title }}">
		<meta name="twitter:description" content="{{ site.description }}">
		<meta name="twitter:card"  content="summary_large_image">
		<meta name="twitter:image" content="{{ site.url }}/images/twitter_card.png">
		<!-- end of Twitter cards -->
	</head>
	<body>
		<header>
			<div class="container">
				<div class="company-name">
					<a href="{{ site.baseurl }}/">
						<img src="{{ site.baseurl }}/images/site_icon.png" alt="frienddl.io Logo" height="33" />
					</a>
				</div>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}
		<footer>
			<div class="container">
				<p class="copyright">Copyright &copy; 2020–{{ site.time | date: '%Y' }} Blake Gearin</p>
			</div>
		</footer>
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
		<script src="{{ '/js/simples.js' }}"></script>
	</body>
</html>
